header{
    width: 100%;
    &.menu{
        height: 50px;
    }
    h1{
        width: 70%;
        height: 100%;
    }    
    .div{
        &__retour{
            width: 15%;
            height: 100%;
        }
    }
}