nav{
    width: 100%;
    a{
        display: block;
        width: fit-content;
        margin: auto;
        padding: 20px;
        color: white;
        background: linear-gradient(170deg, $color-secondary 10%, $color-primary 75%);
        border-radius: 30px;
        box-shadow: 0px 3px 10px -2px $color-darkgrey;
        &:hover{
            box-shadow: 0px 3px 10px 1px $color-darkgrey;
            background: linear-gradient(170deg, $color-lightsecondary 10%, $color-lightprimary 75%);
        }
    }
}