nav{
    width: 100%;
    a{
        display: block;
        width: fit-content;
        margin: auto;
        padding: 20px;
        color: white;
        background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 75%);;
        border-radius: 30px;
        box-shadow: 0px 3px 10px -2px $color-darkgrey;
    }
}