.input{
    &__location{
        border: none;
        background-color: $color-grey;
        height: 25px;
        width: 150px;
        text-align: center;
        color: $color-darkgrey;
        &:focus{
            outline: none;
        }
    }
}