/* Box sizing sur tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

// Taille minimale du body
body{
    min-width: 320px;
    position: relative;
    margin: auto;
    width: 100%;
    @include media(mobile){
        max-width: 500px;
    }
    @include media(tab, desktop-low, desktop-mid, desktop-full){
        max-width: none;
    }
}

// Flexbox

.flex{
    display: flex;

    &--center{
        justify-content: center;
    }
    &--aligncenter{
        align-items: center;
    }
    &--start{
        justify-content: flex-start;
    }
    &--end{
        justify-content: flex-end;
    }
    &--around{
        justify-content: space-around;
    }
    &--between{
        justify-content: space-between;
    }
    &--wrap{
        flex-wrap: wrap;
    }
    &--column{
        flex-direction: column;
    }
    &--row{
        flex-direction: row;
    }
}

// Gap entre les flexbox
.gap{
    &__main{
        row-gap: 30px;
    }
    &__location{
        column-gap: 5px;
    }
    &__description{
        row-gap: 25px;
    }
    &__steps{
        row-gap: 25px;
        column-gap: 20px;
    }
    &__cardsteps{
        column-gap: 5px;
    }
    &__listerestaurants{
        column-gap: 15px;
        row-gap: 20px;
    }
    &__infoscard{
        row-gap: 5px;
    }
    &__footer{
        row-gap: 15px;
    }
    &__listfooter{
        row-gap: 10px;
    }
    &__sectionmenu{
        row-gap: 30px;
        column-gap: 10px;
    }
    &__listitems{
        row-gap: 15px;
    }
    &__infositem{
        row-gap: 5px;
    }
}

// Marge sur tous les h2

h2{
    padding-left: 15px;
    width: 100%;
}
