

/* Mise en place de la police des textes */

*{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* Mise en place de la police des titres et Logo footer */
.logo{
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

h1{
    font-size: 25px;
    &.logo{
        font-size: 30px;
    }
}

h2{
    font-size: 20px;
    &.logo{
        font-size: 24px;
    }
}



h3{
    font-size: 17px;
    &.menutitle{
        font-size: 15px;
        font-weight: 400;
    }
}

p{
    &.titleitem{
        font-size: 16px;
    }
    &.supplement{
        font-size: 14px;
    }
}

// Epaisseur de la police

.font{
    &--400{
        font-weight: 400;
    }
    &--500{
        font-weight: 500;
    }
    &--600{
        font-weight: 600;
    }
    &--300{
        font-weight: 300;
    }
}